.form {
	&__block {
		margin-bottom: 10px;
	}
}

input, textarea {
	width: 100%;
	padding: 6px 10px;
	border: 1px solid #ddd;
	@include placeholder(#ddd, 14px);
	font-size: 14px;
}

textarea {
	resize: none;
}

input[type="submit"] {
	&:hover {
		cursor: pointer;
	}
}