@mixin placeholder($color,$fz) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
        font-size: $fz;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
        font-size: $fz;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color;
        font-size: $fz;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
        font-size: $fz;
    }
}